// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/*couleur primaire*/
$couleur-primaire : #9356DC;
/*couleur secondaire*/
$couleur-secondaire : #FF79DA;
/*couleur tertiare*/
$couleur-tertiaire : #99E2D0;
/*couleur du fond Paris, Bellevile*/ 
$localisation : #eee8e8;
/*couleur du fond introduction*/
$introduction : #d4c3c3;
/*couleur des boutons introduction*/
$fonctionnment : #e6c6c6;
/*couleur icon des .fas des boutons introduction*/
$fonctionnment-icon : #2f73c2;


/* Shadows */
/*Ombres generale a voir si besoin de plusieurs*/
$shadow : 3px 3px 6px black;


