// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/*couleur primaire*/
$couleur-primaire : #9356DC;
/*couleur secondaire*/
$couleur-secondaire : #FF79DA;
/*couleur tertiare*/
$couleur-tertiaire : #99E2D0;
/*couleur du fond Paris, Bellevile*/ 
$localisation : #eaeaea;
/*couleur du fond introduction*/
$introduction : #faf6f6;
/*couleur des boutons introduction*/
$fonctionnment : #faf6f6;
/*couleur icon des .fas des boutons introduction*/
$fonctionnment-icon : #a5a1a1;
/*couleur du fond restaurant*/
$restaurant : #f6f6f6;
/*couleur de la police du fond nouveau*/
$nouveau : #289f82;
/*couleur du fond du footer*/
$footer :#353535;

/* Shadows */
/*Ombres generale a voir si besoin de plusieurs*/
$shadow : 3px 3px 6px #a5a1a1;
$shadow-noir : 0px 3px 8px #837f7f;

/*Responsive*/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
 
// Small tablets (portrait view)
$screen-md-min: 768px;
 
// Tablets and small desktops
$screen-lg-min: 992px;

//ipad Pro//
$screen-ipad-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1200px;




