@charset "UTF-8";
/* Base */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

/**
 * Basic typography style for copy text
 */
/*Police Generale roboto*/
html {
  font-family: roboto;
}

/* Utils */
/*couleur primaire*/
/*couleur secondaire*/
/*couleur tertiare*/
/*couleur du fond Paris, Bellevile*/
/*couleur du fond introduction*/
/*couleur des boutons introduction*/
/*couleur icon des .fas des boutons introduction*/
/*couleur du fond restaurant*/
/*couleur de la police du fond nouveau*/
/*couleur du fond du footer*/
/* Shadows */
/*Ombres generale a voir si besoin de plusieurs*/
/*Responsive*/
/* Responsive*/
/*animation du coeur*/
@keyframes fondu_heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*animation menu*/
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*Duration loader visuelle loader*/
@keyframes load-wrapper {
  0% {
    opacity: 1;
    z-index: 2;
  }
  70% {
    opacity: 1;
  }
  99% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/*animation loader*/
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* Layouts */
/*logo du header*/
.header-logo {
  /*taille de la police*/
  font-size: 30px;
  /*alignement du texte*/
  text-align: center;
  /*Police du logo*/
  font-family: shrikhand;
  /*hauteur du logo*/
  padding: 12px 0;
  /*Mise en Position relative*/
  position: relative;
  /*application de l'ombre*/
  box-shadow: 3px 3px 6px #a5a1a1;
}

.footer {
  /*couleur du fond footer*/
  background: #353535;
  /*footer-logo*/
}
.footer-box {
  /*taille max*/
  max-width: 1440px;
  /*margin*/
  margin: 0 auto;
  display: flex;
  /*Mise en colonne*/
  flex-direction: column;
  padding: 20px 20px;
}
@media (min-width: 768px) {
  .footer-box {
    width: 95%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 60px 0px 40px 0px;
  }
}
.footer-logo {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: Shrikhand;
}
.footer-logo:hover {
  text-decoration: none;
}
.footer-logo:hover:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.footer-text {
  display: flex;
  /*alignement des elements*/
  align-items: center;
  /*taille de la police*/
  font-size: 16px;
  /*couleur de la police*/
  color: white;
  /*interligne*/
  line-height: 25px;
  /*footer-text-icon*/
}
.footer-text:hover {
  color: #FF79DA;
}
.footer-text-icon.fas.fa-hands-helping {
  /*taille de la fas*/
  font-size: 12px;
  /*decalage sur la droite*/
  padding-right: 12px;
}
.footer-text-icon.fas.fa-utensils {
  /*taille de la fas*/
  font-size: 15px;
  /*decalage sur la droite*/
  padding-right: 15px;
}

/* Composants */
/*Bouton "Explorer nos restaurants"*/
.btn {
  /*arrondie du bouton*/
  border-radius: 50px;
  /*enlever le border*/
  outline: none;
  border: none;
  /*couleur de la police*/
  color: white;
  /*taille police*/
  font-size: 15px;
  /*taille epaisseur police*/
  font-weight: 500;
  /*taille du bouton*/
  padding: 15px 30px;
  /*top bottom autour du bouton*/
  margin: 20px auto 30px;
  /*fusion des couleurs*/
  background: linear-gradient(#9356DC, #FF79DA);
  /*application de l'ombre*/
  box-shadow: 3px 3px 6px #a5a1a1;
  cursor: pointer;
}
.btn:hover:hover {
  transform: scale(1.1);
  transition: 0.4s;
  background: linear-gradient(#ff93e1, #ae80e5);
}

/* tous les liens*/
a {
  /*couleur des liens*/
  color: inherit;
  /*enlever la barre des liens*/
  text-decoration: none;
}

.back {
  position: absolute;
  /*decalage sur la droite*/
  left: 30px;
  /*decalage a partir du haut*/
  top: 22px;
  /*taille icon*/
  font-size: 22px;
  /*ajout cursor */
  cursor: pointer;
}
.back:hover {
  color: #9356DC;
}

.nouveau {
  /*application couleur tertiaire*/
  background: #99E2D0;
  /*couleur de la police provisoire*/
  color: #289f82;
  /*epaisseur de la police*/
  font-weight: 700;
  /*arrondis du bandeau nouveau*/
  border-radius: 3px;
  /*position absolute*/
  position: absolute;
  /*position haute*/
  top: 20px;
  /*position droite*/
  right: 20px;
  /*padding nouveau*/
  padding: 10px 15px;
}
.nouveau:hover {
  text-decoration: none;
}
.nouveau:hover:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

#position {
  display: flex;
  left: 85%;
  position: absolute;
  bottom: 10%;
}

.like {
  position: relative;
}

.like .heart {
  color: #3f3f3f;
}

.like:hover .like-2 {
  animation: fondu_heart 1600ms;
  animation-fill-mode: forwards;
}

.like-2 {
  color: #9356DC;
  position: absolute;
  top: 0px;
  opacity: 0;
}

i.far.fa-heart {
  font-size: 30px;
}

i.fas.fa-heart {
  font-size: 30px;
}

.load-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load-wrapper 2s both;
  opacity: 1;
  background: white;
  position: fixed;
}

.sk-folding-cube {
  position: absolute;
  top: 40%;
  width: 80px;
  height: 80px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  background-color: #9356DC;
  border: 3px solid #FF79DA;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

/* Pages */
/*localisation*/
.localisation {
  /*fonction flex centrer*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*couleur fond paris, belleville*/
  background-color: #eaeaea;
  /*hauteur de la bande paris, belleville*/
  padding: 15px 0;
  /*localisation-icon*/
  /*localisation-text*/
}
.localisation-icon {
  /*decalage de localisation-icon*/
  padding-right: 15px;
}
.localisation-text {
  /*taille et epaisseur police*/
  font-weight: 500;
  /*taille et epaisseur police*/
  font-size: 16px;
}

/*Fin de localisation*/
/* Titre */
.title {
  /*taille de la police*/
  font-size: 24px;
  /*epaisseur de la police*/
  font-weight: 700;
  /*espacement top bottom titre*/
  padding: 40px 0 20px;
  /*alignement du titre du moins pour la version desktop*/
}
@media (min-width: 1200px) {
  .title {
    text-align: center;
  }
}

/*Introduction*/
.introduction {
  /*fonction flex centrer*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*Mise en colonne*/
  flex-direction: column;
  /*centrage du texte*/
  text-align: center;
  /*Couleur du fond introduction, couleur temporaire*/
  background-color: #faf6f6;
  /*top et bottom introduction*/
  padding: 40px 0px 50px 0px;
  /*section titre introduction*/
  /*section paragraphe introduction*/
}
.introduction-title {
  /*largeur en pourccentage de titre*/
  width: 70%;
  /*taille police*/
  font-size: 24px;
  /*epaisseur police*/
  font-weight: 700;
}
.introduction-para {
  /*largeur en pourccentage du paragraphe*/
  width: 80%;
  /*taille police*/
  font-size: 16px;
  /*epaisseur police*/
  font-weight: 300;
  /*Positionement du paragraphe*/
  margin: 10px 0 15px 0;
}

/* Fonctionnement */
.Fonctionnement {
  /*largeur maximun des boutons a redefir si besoin*/
  max-width: 1440px;
  /*position des boutons*/
  margin: 0 auto;
  /*padding*/
  padding: 16px 19px 40px 19px;
  /*Fonctionnement-box*/
}
@media (min-width: 768px) {
  .Fonctionnement {
    margin: 0 100px;
  }
}
@media (min-width: 1200px) {
  .Fonctionnement {
    padding-top: 16px;
    margin: auto;
  }
}
.Fonctionnement-box {
  display: flex;
  flex-direction: column;
  /*Fonctionnement-box-item*/
}
@media (min-width: 1200px) {
  .Fonctionnement-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.Fonctionnement-box-item {
  display: flex;
  /*centrage de l'ensemble*/
  align-items: center;
  /*couleur du fond des item-box, couleur provisoire*/
  background-color: #faf6f6;
  /*espacement des item box*/
  margin-left: 8px;
  /*dimension des item-box*/
  padding: 24px 8px;
  margin-bottom: 8px;
  /*arrondis des item box*/
  border-radius: 25px;
  /*position relative*/
  position: relative;
  /*ombre*/
  box-shadow: 3px 3px 6px #a5a1a1;
  /*Fonctionnement-box-item-number*/
  /*Fonctionnement-box-item-desc*/
}
@media (min-width: 1200px) {
  .Fonctionnement-box-item {
    width: 360px;
    padding: 8px 24px;
    margin-right: 20px;
  }
}
.Fonctionnement-box-item:hover {
  background: #f5edff;
  box-shadow: 3px 3px 6px #a5a1a1;
  text-decoration: none;
  cursor: pointer;
}
.Fonctionnement-box-item:hover:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.Fonctionnement-box-item:hover .Fonctionnement-box-item-desc-icon {
  color: #464242;
}
.Fonctionnement-box-item-number {
  /*variable centrage*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*position absolute du number*/
  position: absolute;
  /*position decalage du number sur la gauche du number*/
  left: -10px;
  /*largeur du rond du number*/
  width: 24px;
  /*hateur du rond du number*/
  height: 24px;
  /*radius de 50px*/
  border-radius: 50px;
  /*application de la couleur primaire du number*/
  background: #9356DC;
  /*couleur de la police du number*/
  color: white;
  /*taille de la police du number*/
  font-size: 14px;
}
.Fonctionnement-box-item-desc {
  display: flex;
  align-items: center;
  /*Fonctionnement-box-item-desc-icon*/
  /*Fonctionnement-box-item-desc-text*/
}
.Fonctionnement-box-item-desc-icon {
  /*espacement icon*/
  margin: 0 20px 0 15px;
  /*couleur icon provisoire*/
  color: #a5a1a1;
  /*taille des icones*/
  font-size: 18px;
}
.Fonctionnement-box-item-desc-text {
  /*epaisseur de la police*/
  font-weight: 700;
}

/* Début Thumbnail Restaurant */
.restaurant {
  /*application couleur du fond restaurant*/
  background: #f6f6f6;
  /*padding de la classe restaurant*/
  padding: 0 19px 50px;
  /*restaurant-box*/
  /*restaurant-thumbnail*/
}
@media (min-width: 768px) {
  .restaurant {
    margin: 0 100px;
  }
}
@media (min-width: 1200px) {
  .restaurant {
    padding-top: 16px;
    margin: auto;
  }
}
.restaurant-box {
  display: flex;
  flex-direction: column;
  /*Dimension Max restaurant-box*/
  max-width: 1440px;
  /*emplacement restaurant-box*/
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .restaurant-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.restaurant-thumbnail {
  /*couleur du background des thumbail*/
  background: white;
  /*border radius*/
  border-radius: 30px;
  /*position relative*/
  position: relative;
  /*espacement bottom*/
  margin-bottom: 20px;
  /*application de shadow*/
  box-shadow: 3px 3px 6px #a5a1a1;
  overflow: hidden;
  /*restaurant-thumbnail-img*/
  /*restaurant-thumbnail-desc*/
  /*restaurant-thumbnail-name*/
  /*restaurant-thumbnail-ville*/
}
@media (min-width: 1200px) {
  .restaurant-thumbnail {
    margin-top: 40px;
    width: 330px;
  }
}
.restaurant-thumbnail:hover {
  text-decoration: none;
  box-shadow: 3px 3px 6px #a5a1a1;
}
.restaurant-thumbnail:hover:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.restaurant-thumbnail-img {
  /*place de l'image dans la div*/
  width: 100%;
  /*hauteur de l'image*/
  height: 180px;
  object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}
.restaurant-thumbnail-desc {
  /*padding du texte*/
  padding: 20px 20px;
}
.restaurant-thumbnail-name {
  /*taille de la police*/
  font-size: 18px;
  /*epaisseur de la police*/
  font-weight: 900;
}
.restaurant-thumbnail-ville {
  /*taille de la police*/
  font-size: 16px;
}
.restaurant-thumbnail-icon {
  position: absolute;
  font-size: 29px;
  bottom: 20px;
  right: 25px;
}

@media screen and (min-width: 900px) and (max-width: 1379px) {
  .title {
    text-align: center;
  }

  .Fonctionnement {
    padding-top: 16px;
  }
  .Fonctionnement-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .restaurant {
    padding-top: 16px;
  }
  .restaurant-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
  .restaurant-thumbnail {
    margin-bottom: 20px;
    margin-top: 40px;
    width: 330px;
  }
}
/*Section Top*/
.top {
  position: relative;
}
.top img {
  /*toute la page*/
  width: 100%;
  /*largeur de la photo*/
  height: 300px;
  /*ratio photo*/
  object-fit: cover;
}
.top-title {
  position: absolute;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  bottom: 0px;
  margin: 0 auto;
  /*positionement top-title*/
  padding: 32px 32px 12px 32px;
  /*taille top-title*/
  max-width: 1440px;
  width: 100%;
  /*couleur top-title*/
  background: #f6f6f6;
  font-size: 26px;
  /*arrondis*/
  border-top-left-radius: 40px;
  /*arrondis*/
  border-top-right-radius: 40px;
  /*type de fonts*/
  font-family: "Shrikhand";
}
@media (min-width: 992px) {
  .top-title {
    position: relative;
    background: white;
  }
}
@media (min-width: 1024px) {
  .top-title {
    padding: 20px 110px;
  }
}
@media (min-width: 1200px) {
  .top-title {
    margin: 50px auto;
  }
}

/* Section Menu */
.menu {
  /*couleur fond*/
  background: #f6f6f6;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /*positionemnt interieur*/
  padding: 24px 32px 20px 32px;
}
@media (min-width: 1024px) {
  .menu {
    margin-left: 70px;
    margin-right: 70px;
  }
}
@media (min-width: 992px) {
  .menu {
    background: white;
  }
}
@media (min-width: 1200px) {
  .menu {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .menu-general {
    margin: auto;
  }
}

.greenbar {
  font-size: 17px;
  /*Mise en majuscule*/
  text-transform: uppercase;
  /*position relative*/
  position: relative;
  margin-bottom: 20px;
}

/*barre verte en dessous h2*/
.greenbar:before {
  content: "";
  width: 40px;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  bottom: -5px;
}

.meal {
  background: white;
  border-radius: 20px;
  width: 100%;
  margin: 16px auto;
  display: flex;
  box-shadow: 3px 3px 6px #a5a1a1;
  cursor: pointer;
  position: relative;
  /*pour cacher l'animation*/
  overflow: hidden;
}
@media (min-width: 1200px) {
  .meal {
    margin-bottom: 40px;
  }
}
.meal:hover .meal-icon {
  width: 13%;
}
.meal:hover .fa-check-circle {
  transform: rotate(0deg);
  opacity: 1;
}
.meal-item {
  /*postionement de l'animation*/
  flex-grow: 1;
  position: relative;
  /*padding*/
  padding: 12px;
  /*interligne*/
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 1200px) {
  .meal-item {
    width: 320px;
  }
}
.meal-title {
  font-weight: 500;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meal-para {
  font-size: 14px;
  width: 80%;
  /*pas de retour ligne et supression texte en trop*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meal-para b {
  /*position absolute*/
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  right: 16px;
  bottom: 12px;
}
.meal-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  /*partie animation*/
  width: 0%;
  transition: 1s;
}
.meal-icon .fa-check-circle {
  /*mise en opacity*/
  color: white;
  font-size: 18px;
  /*vitesse de rotation icon*/
  transform: rotate(980deg);
  transition: 0.8s;
}

/*Animation du menu*/
.anim1 {
  animation: slideUp 1000ms 1s ease-in-out both;
}

.anim2 {
  animation: slideUp 1000ms 1.5s ease-in-out both;
}

.anim3 {
  animation: slideUp 1000ms 2s ease-in-out both;
}

/*div pour le bounton commande*/
.position {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
