#position,
#position-1,
#position-2,
#position-3 {
    display: flex;
    left: 85%;
    position: absolute;
    bottom: 10%;
}


.like {
    position: relative;
}






.like .heart {
    color: #3f3f3f;
}

.like:hover .like-2 {
    animation: fondu_heart 1600ms;
    animation-fill-mode: forwards;
}

.like-2 {
    color: #9356DC;
    position: absolute;
    top: 0px;
    opacity: 0;
}

i.far.fa-heart {
    font-size: 30px;
}

i.fas.fa-heart {
    font-size: 30px;
}